@import "./global.scss";

.container-card {
    font-family: "PT Serif", serif;
    margin: 4em;
    width: 190px;
    height: 230px;
    text-decoration: none;
    background-color: $cardColor;
    border-radius: $global-radius;
    box-shadow: 0px 0px 25px 2px $shadow;
    transition: ease-in-out 0.3s;
    &:hover {
        background-color: $white;
        box-shadow: 0px 0px 45px -3px $clearShadow;
    }
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "PT Serif", serif;
    margin: 0px;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.card-icon {
    font-size: 7em;
    flex-grow: 2;
    pointer-events: none;
}

.card-text {
    width: 90px;
    font-size: 22px;
    pointer-events: none;
}
