/* colors */
$mainColor: #416ad4;
$blueComplement: #3d92e0;
$selectedMenu: #fff;
$white: #fff;
$blue: #2b3944;
$inputHover: #0b213318;
$shadow: #0b0d6829;
$clearShadow: #2d2fa129;
$dark-blue: #3432bd;
$pink: #fdabaf;
$pink-light: #ffe0e6;
$green: #2caa0c;
$greenDark: #208c05;
$greenBtn: #2caa0c;
$greenBtnHover: #258d0a;
$greenBtnBottomLine: #267c10;
$labelColor: #b3babb;
$cardColor: #ffffffb0;
/* fonts */

$menuText: "Quicksand", sans-serif;

$global-radius: 5px;
$transition-duration-fast: 0.5s;
