@import "./global.scss";
.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    top: 8%;
    left: -50%;
    right: -50%;
    z-index: 2;
    width: 500px;
    height: 600px;
    background-color: $white;
    border-radius: $global-radius;

    & h1 {
        padding: 1em 0 2em 0;
    }
    & .input-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        height: 35px;
        border-radius: $global-radius;
        border: 1px solid $blue;
        & > input,
        & > select {
            width: 350px;
            height: 100%;
            border: none;
            background-color: transparent;
            outline: transparent;
            font-size: 1.2em;
            &:hover {
                background-color: $inputHover;
            }
        }

        & > svg {
            font-size: 22px;
            padding: 5px;
        }
        & > label {
            font-size: 12px;
            width: 100px;
            text-align: center;
        }
        & > span {
            height: 100%;
            width: 2px;
            padding-left: 5px;
            border-right: 1px solid $blue;
        }
        &:not(:last-child) {
            margin: 0.5em;
        }
    }
}

.form-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20%;
    width: 100%;
    & button {
        border: none;
        color: $white;
        width: 110px;
        height: 40px;
        padding: 10px 20px 10px 20px;
        font-size: 16px;
        border-radius: $global-radius;
        background-color: $blue;
        transition: all 0.5s;
        box-shadow: 0px 0px 25px 2px $shadow;
        &:hover{
            font-weight: bold;
            color: $blue;
            background-color: $clearShadow;
            box-shadow: 0px 0px 25px 2px $clearShadow;

        }
    }
}

.backgroundOverlay {
    background-color: rgba(0, 0, 0, 0.432);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}
