@import "./global.scss";

.Navbar {
    display: flex;
    width: 100%;
    height: 50px;
    background: $white;
    align-items: baseline;
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px $shadow;
}
.SideNav {
    height: 100%;
    width: 20px;
    align-self: flex-start;
}

.SearchBar {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 34px;
    & input {
        border: none;
        font-weight: bold;
        padding-left: 20px;
        background: $blueComplement;
        border-radius: 6px;
        outline: none;
        height: 100%;
        width: 100%;
        &::placeholder {
            color: $white;
            opacity: 1;
        }
    }
}

svg.FaSearch {
    color: $white;
    justify-content: center;
    font-size: 20px;
    margin-left: -33px;
}