@import './global.scss';
.file-upload {
    background-color: #ffffff;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 3%;
    border-radius: $global-radius;
}
.btn-upload {
    background-color: #ffffff;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
}
.AiFillFileExcel{
    font-size: 40px;
    color: rgb(18, 173, 13);
}
.file-upload-btn {
  width: 60%;
  margin-right: 2%;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}
.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}
.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}
.file-download-btn {
  width: 20%;
  margin-top: 3px;
  margin-left: 80%;
  color: rgb(110, 101, 101);
  background: #fce300fd;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b9a80c;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}
.file-download-btn:hover {
  background: #ead402e6;
  color: rgb(110, 101, 101);
  transition: all .2s ease;
  cursor: pointer;
}
.file-download-btn:active {
  border: 0;
  transition: all .2s ease;
}
.remove-file {
    width: 33%;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
.remove-file:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}
.remove-file:active {
    border: 0;
    transition: all .2s ease;
}


.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}
.upload-wrap:hover {
  background-color: #918f8f28;
  border: 4px dashed #ffffff;
}
.drag-text {
  text-align: center;
}
.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}